<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.qmtt.vo.AdvDetailVo">

	 <select id="selectAdvDetail" resultType="com.yfax.webapi.qmtt.vo.AdvDetailVo">
        select * from qmtt_adv_detail where advFkid=#{advFkid} order by orderNum desc
    </select>
    
</mapper>
