<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.qmtt.vo.ReadHisVo">

	<select id="selectReadHisById" resultType="com.yfax.webapi.qmtt.vo.ReadHisVo">
		select * from qmtt_read_his where id=#{id}
    </select>

	<select id="selectReadHisByPhoneNum" resultType="com.yfax.webapi.qmtt.vo.ReadHisVo">
        select * from qmtt_read_his where phoneNum=#{phoneNum} order by createDate desc limit 50
    </select>
    
    <!-- 首次有效阅读 -->
    <select id="selectReadHisCountByPhoneNum" resultType="java.lang.Long">
        select count(id) from qmtt_read_his where phoneNum=#{phoneNum} and isAward=1
    </select>
    
    <!-- 一篇文章只能奖励阅读 -->
    <select id="selectReadHisCountByPhoneNumAndPrimaryKey" resultType="java.lang.Long">
        select count(id) from qmtt_read_his where phoneNum=#{phoneNum} and primaryKey=#{primaryKey} and isAward=1
    </select>
    
    <!-- 添加 -->
	<insert id="insertReadHis" parameterType="com.yfax.webapi.qmtt.vo.ReadHisVo">
		insert into qmtt_read_his
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="phoneNum != null" > phoneNum, </if>
		  <if test="data != null" > data, </if>
		  <if test="primaryKey != null" > primaryKey, </if>
		  <if test="isAward != null" > isAward, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="updateDate != null" > updateDate, </if>
		  
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="phoneNum != null" > #{phoneNum}, </if>
		  <if test="data != null" > #{data}, </if>
		  <if test="primaryKey != null" > #{primaryKey}, </if>
		  <if test="isAward != null" > #{isAward}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="updateDate != null" > null, </if>
		  
        </trim>
	</insert>
	
	<update id="updateReadHis" parameterType="com.yfax.webapi.qmtt.vo.ReadHisVo">
		update qmtt_read_his 
		<set>
			<if test="phoneNum != null"> phoneNum = #{phoneNum}, </if>
			<if test="data != null"> data = #{data}, </if>
			<if test="primaryKey != null"> primaryKey = #{primaryKey}, </if>
			<if test="isAward != null"> isAward = #{isAward}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
		</set>
		where id = #{id} 
	</update>
</mapper>
