<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.ytt.vo.AppUserVo">

	<select id="selectByPhoneNumAndPwd" resultType="com.yfax.webapi.ytt.vo.AppUserVo">
        select * from ytt_app_user where phoneNum=#{phoneNum} and userPwd=#{userPwd}
    </select>
    
    <select id="selectByPhoneNum" resultType="com.yfax.webapi.ytt.vo.AppUserVo">
        select * from ytt_app_user where phoneNum=#{phoneNum}
    </select>
    
    <!-- 统计前二十收益最高的人 -->
    <select id="selectByRank" resultType="com.yfax.webapi.ytt.vo.AppUserVo">
		select phoneNum, ROUND(total,3) as balance from (select phoneNum, sum(balance) as total 
			from ytt_balance_his where balance like '+%' group by phoneNum order by total desc limit 20) a
    </select>
    
    <!-- 统计前二十获得金币最高的人 -->
    <select id="selectByRankGold" resultType="com.yfax.webapi.ytt.vo.AppUserVo">
		select phoneNum, goldSum as gold from (select phoneNum, sum(gold) as goldSum 
			from ytt_balance_his where balance like '+%' group by phoneNum order by goldSum desc limit 20) a
    </select>
    
    <!-- 统计总收益金额 -->
    <select id="selectByRankSum" resultType="java.lang.Long">
        select ROUND(sum(balance), 3) as sum from ytt_balance_his where balance like '+%'
    </select>
    
    <!-- 统计今日获得金币 -->
    <select id="selectByTodaySum" resultType="java.lang.Long">
		select sum(gold) as gold from ytt_award_his where phoneNum=#{phoneNum} 
			and date_format(createDate,'%Y-%m-%d')=#{currentTime} and awardType!=8
    </select>
    
     <!-- 统计总获得金币 -->
    <select id="selectByTotalGold" resultType="java.lang.Long">
		select sum(gold) as gold from ytt_award_his where awardType in (2,5,7) and 
			phoneNum=#{phoneNum}
    </select>
    
	<delete id="deleteByPhoneNum" parameterType="java.lang.String">
		delete from oauth_access_token where user_name = #{phoneNum}
	</delete>
	
	<insert id="insertUser" parameterType="com.yfax.webapi.ytt.vo.AppUserVo">
		insert into ytt_app_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="phoneNum != null" > phoneNum, </if>
		  <if test="userPwd != null" > userPwd, </if>
		  <if test="gold != null" > gold, </if>
		  <if test="balance != null" > balance, </if>
		  <if test="userName != null" > userName, </if>
		  <if test="address != null" > address, </if>
		  <if test="wechat != null" > wechat, </if>
		  <if test="qq != null" > qq, </if>
		  <if test="email != null" > email, </if>
		  <if test="registerDate != null" > registerDate, </if>
		  <if test="lastLoginDate != null" > lastLoginDate, </if>
		  <if test="updateDate != null" > updateDate, </if>
		  <if test="blackList != null" > blackList, </if>
		  <if test="shareCount != null" > shareCount, </if>
		  <if test="firstShare != null" > firstShare, </if>
		  <if test="firstInvite != null" > firstInvite, </if>
		  <if test="firstRead != null" > firstRead, </if>
		  <if test="students != null" > students, </if>
		  <if test="dailyCheckIn != null" > dailyCheckIn, </if>
		  
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="phoneNum != null" > #{phoneNum}, </if>
		  <if test="userPwd != null" > #{userPwd}, </if>
		  <if test="gold != null" > #{gold}, </if>
		  <if test="balance != null" > #{balance}, </if>
		  <if test="userName != null" > #{userName}, </if>
		  <if test="address != null" > #{address}, </if>
		  <if test="wechat != null" > #{wechat}, </if>
		  <if test="qq != null" > #{qq}, </if>
		  <if test="email != null" > #{email}, </if>
		  <if test="registerDate != null" > #{registerDate}, </if>
		  <if test="lastLoginDate != null" > null, </if>
		  <if test="updateDate != null" > #{updateDate}, </if>
		  <if test="blackList != null" > #{blackList}, </if>
		  <if test="shareCount != null" > #{shareCount}, </if>
		  <if test="firstShare != null" > #{firstShare}, </if>
		  <if test="firstInvite != null" > #{firstInvite}, </if>
		  <if test="firstRead != null" > #{firstRead}, </if>
		  <if test="students != null" > #{students}, </if>
		  <if test="dailyCheckIn != null" > #{dailyCheckIn}, </if>
		  
        </trim>
	</insert>
	
	<update id="updateUser" parameterType="com.yfax.webapi.ytt.vo.AppUserVo">
		update ytt_app_user 
		<set>
			<if test="userPwd != null"> userPwd = #{userPwd}, </if>
			<if test="gold != null"> gold = #{gold}, </if>
			<if test="balance != null"> balance = #{balance}, </if>
			<if test="userName != null"> userName = #{userName}, </if>
			<if test="address != null"> address = #{address}, </if>
			<if test="wechat != null"> wechat = #{wechat}, </if>
			<if test="qq != null"> qq = #{qq}, </if>
			<if test="email != null"> email = #{email}, </if>
			<if test="lastLoginDate != null"> lastLoginDate = #{lastLoginDate}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="blackList != null"> blackList = #{blackList}, </if>
			<if test="shareCount != null"> shareCount = #{shareCount}, </if>
			<if test="firstShare != null"> firstShare = #{firstShare}, </if>
			<if test="firstInvite != null"> firstInvite = #{firstInvite}, </if>
			<if test="firstRead != null"> firstRead = #{firstRead}, </if>
			<if test="students != null"> students = #{students}, </if>
			<if test="dailyCheckIn != null"> dailyCheckIn = #{dailyCheckIn}, </if>
			
		</set>
		where phoneNum = #{phoneNum} 
	</update>
   
</mapper>