<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.ytt.vo.LoginHisVo">

    <!-- 添加 -->
	<insert id="insertLoginHis" parameterType="com.yfax.webapi.ytt.vo.LoginHisVo">
		insert into ytt_login_his
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="phoneNum != null" > phoneNum, </if>
		  <if test="deviceName != null" > deviceName, </if>
		  <if test="imei != null" > imei, </if>
		  <if test="ip != null" > ip, </if>
		  <if test="mac != null" > mac, </if>
		  <if test="location != null" > location, </if>
		  <if test="wifi != null" > wifi, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="updateDate != null" > updateDate, </if>
		  
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="phoneNum != null" > #{phoneNum}, </if>
		  <if test="deviceName != null" > #{deviceName}, </if>
		  <if test="imei != null" > #{imei}, </if>
		  <if test="ip != null" > #{ip}, </if>
		  <if test="mac != null" > #{mac}, </if>
		  <if test="location != null" > #{location}, </if>
		  <if test="wifi != null" > #{wifi}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="updateDate != null" > null, </if>
		  
        </trim>
	</insert>
</mapper>
