<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yfax.webapi"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/AppUserMapper.xml"/>
        <mapper resource="mybatis/mapper/AwardHisMapper.xml"/>
        <mapper resource="mybatis/mapper/LoginHisMapper.xml"/>
        <mapper resource="mybatis/mapper/UserSmsMapper.xml"/>
        <mapper resource="mybatis/mapper/BalanceHisMapper.xml"/>
        <mapper resource="mybatis/mapper/IncomeSetMapper.xml"/>
        <mapper resource="mybatis/mapper/RateSetMapper.xml"/>
        <mapper resource="mybatis/mapper/WithdrawHisMapper.xml"/>
        <mapper resource="mybatis/mapper/ReadHisMapper.xml"/>
        <mapper resource="mybatis/mapper/AppShareCodeMapper.xml"/>
        <mapper resource="mybatis/mapper/IpShareCodeMapper.xml"/>
        <mapper resource="mybatis/mapper/ShareUserHisMapper.xml"/>
        <mapper resource="mybatis/mapper/UserFeedbackMapper.xml"/>
        <mapper resource="mybatis/mapper/AppConfigMapper.xml"/>
        <mapper resource="mybatis/mapper/StudentConfigMapper.xml"/>
        <mapper resource="mybatis/mapper/InitConfigMapper.xml"/>
    </mappers>
</configuration>
