<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yfax.webapi"/>
    </typeAliases>
    <mappers>
    		<mapper resource="mybatis/mapper/AppUserMapper.xml"/>
    		<mapper resource="mybatis/mapper/BalanceHisMapper.xml"/>
    		<mapper resource="mybatis/mapper/RateSetMapper.xml"/>
    		<mapper resource="mybatis/mapper/AppConfigMapper.xml"/>
    		<mapper resource="mybatis/mapper/AwardHisMapper.xml"/>
    		
    		<mapper resource="mybatis/mapper/TaskListMapper.xml"/>
    		<mapper resource="mybatis/mapper/UserTasklistHisMapper.xml"/>
    		<mapper resource="mybatis/mapper/UserTaskListMapper.xml"/>
    		
    		<mapper resource="mybatis/mapper/YttAppUserMapper.xml"/>
    		<mapper resource="mybatis/mapper/YttBalanceHisMapper.xml"/>
    		<mapper resource="mybatis/mapper/YttRateSetMapper.xml"/>
    		<mapper resource="mybatis/mapper/YttAppConfigMapper.xml"/>
    		<mapper resource="mybatis/mapper/YttAwardHisMapper.xml"/>
    </mappers>
</configuration>
