<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yfax.webapi"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/IncomeHisMapper.xml"/>
        <mapper resource="mybatis/mapper/WithdrawHisMapper.xml"/>
        <mapper resource="mybatis/mapper/UsersMapper.xml"/>
        <mapper resource="mybatis/mapper/UserTaskListMapper.xml"/>
        <mapper resource="mybatis/mapper/IncomeSetMapper.xml"/>
        <mapper resource="mybatis/mapper/ApkUrlMapper.xml"/>
        <mapper resource="mybatis/mapper/TaskDetailMapper.xml"/>
        <mapper resource="mybatis/mapper/TaskListMapper.xml"/>
        <mapper resource="mybatis/mapper/AdvHisMapper.xml"/>
        <mapper resource="mybatis/mapper/SdkTasklistMapper.xml"/>
        <mapper resource="mybatis/mapper/UserTasklistHisMapper.xml"/>
        <mapper resource="mybatis/mapper/SdkChannelConfigMapper.xml"/>
        <mapper resource="mybatis/mapper/UserFeedbackMapper.xml"/>
        <mapper resource="mybatis/mapper/AppBannerMapper.xml"/>
        <mapper resource="mybatis/mapper/AppUpgradeMapper.xml"/>
        <mapper resource="mybatis/mapper/AppConfigMapper.xml"/>
        <mapper resource="mybatis/mapper/UserSmsMapper.xml"/>
        
        <mapper resource="mybatis/mapper/WdkzAppConfigMapper.xml"/>
    </mappers>
</configuration>
